.fade-enter-active, .fade-leave-active {
	transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}

.fade-slow-enter-active, .fade-slow-leave-active {
	transition: opacity .8s;
}
.fade-slow-enter, .fade-slow-leave-to {
	opacity: 0;
}